body {
    background-color: darkseagreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    width: 20%;
    height: 20%;
}

.menu {
    width: 100%;
}

#top_menu {
    position: fixed;
    font-size: 140%;
    border-bottom: 3px solid red;
    z-index: 1;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: grey;
    top: 0;
    width: 100%;
    justify-content: center;
    display: flex;
}

.menu li {
    display: inline-block;
    transition: background-color 0.5s;
}

.menu li a {
    text-decoration: none;
    display: block;
    padding: 15px 50px;
}

.menu li:hover {
    background-color: #ffc8c6;
    transition: background-color 0.8s;
}

#actua {
    font-weight: bold;
    color: #ef5030;
}

.autrea {
    color: #758490;
}

.autrea:hover {
    color: #2b303b;
    
}